/* 
  Datei: productCard.scss
  Version: 1.0.0
  Entwickler: Danny Nothdurft
  Beschreibung: Dieses Stylesheet enthält die Stilregeln für die ProductCard der Shop-Anwendung.
*/

@import "./color.scss";

.product--card--container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 350px;
  background-color: #191919;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: var(--bgc);
    -webkit-transform: skewY(345deg);
    -ms-transform: skewY(345deg);
    -moz-transform: skewY(345deg);
    -o-transform: skewY(345deg);
    transform: skewY(345deg);
    transition: 0.5s;
  }

  &:hover::before {
    top: -70%;
    -webkit-transform: skewY(390deg);
    -ms-transform: skewY(390deg);
    -moz-transform: skewY(390deg);
    -o-transform: skewY(390deg);
    transform: skewY(390deg);
  }

  &::after {
    content: var(--cardName);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
  }

  &:hover {
    .product--card--content--view {
      .product--card--link--button {
        top: 0px;
        opacity: 1;
      }
    }
  }

  .product--card--image--view {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .product--card--image {
      object-fit: contain;
      width: 100%;
      max-height: 220px;
      filter: drop-shadow(0 0 20px #333);
    }
  }

  .product--card--content--view {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .product--card--cardname {
      color: $font-color-bright;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .product--card--cardNumber {
      color: $font-color-bright;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .product--card--price {
      font-size: 15px;
      color: $font-color-bright;
      font-weight: 700;
      letter-spacing: 1px;
      color: var(--bgc);
    }

    .product--card--link--button {
      margin: 0;
      padding: 0;
      font-size: 12px;
      position: relative;
      top: 100px;
      opacity: 0;
      padding: 10px 20px;
      margin-top: 10px;
      color: #000000;
      text-decoration: none;
      background-color: var(--bgc);
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.5s;
      border: none;
      cursor: pointer;

      &.isMobileInViewport {
        top: 0;
        opacity: 1;
      }
    }
  }

  .product--card--icon--view {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      .product--card--icon {
        fill: $font-color-dark;
      }
    }
  }
}
