/* 
  Datei: login.scss
  Version: 1.0.0
  Entwickler: Danny Nothdurft
*/

.login--page {
  background-color: #fbfbfb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login--form {
    background-color: #ffffff;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
    border-radius: 5px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;

    .alert-danger {
      border-left: 4px solid #ff2e2e;
      background: #fff0f0;
      color: #ff2e2e;
      padding: 1rem 1.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: normal;
      color: #000;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 100%;

      label {
        display: flex;
        flex-direction: column;
        color: #7e7e7e;
        font-weight: 400;
        line-height: 1.5;
        font-size: 0.875rem;

        input {
          height: 41px;
          border-radius: 0;
          background: #fff;
          border: 1px solid #e6e6eb;
          color: #6e6e6e;
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
          border-radius: 3px;

          &:focus {
            outline: 1px solid #00a89b;
          }
        }
      }

      button {
        height: 50px;
        font-weight: 700;
        cursor: pointer;
        padding: 0.625rem 1rem;
        font-size: 0.813rem;
        border: 1px solid transparent;
        border-radius: 0;
        color: #ffffff;
        background-color: #00a89b;
        border-color: #00a89b;
      }
    }
  }
}
